.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.2);
    object-fit: contain;
}

.home-container > h1 {
    color: darkslategrey;
    font-size: 100px;
    margin-top: -100px;
    text-align: center;

}
.home-container > h4 {
    color: darkslategrey;
    margin-top: 8px;
    font-size: 50px;
    text-align: center;
}

.home-btn {
    margin-top: 10px;
}

.home-btn .btns {
    margin: 6 px;
    justify-content: center;
}

.form-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.form-input {
    padding: 5px 35px;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 2px;
    border: 1px solid #fff;
    text-align: center;
    justify-content: center;
  }
@media screen and (max-width: 980px) {
    .home-container > h1 {
        color: darkslategrey;
        font-size: 90px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 750px) {
    .home-container > h1 {
        color: darkslategrey;
        font-size: 65px;
        margin-top: -100px;
    }
    .home-container > h4 {
        color: darkslategrey;
        margin-top: 8px;
        font-size: 25px;
    }
}

.btns {
    width: 100%;
}